@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,800;1,200;1,400;1,500&display=swap');
html{
    margin: 0;
}
body{
    display: flex;
    font-family: 'Raleway', sans-serif;
}
.pic{
    width: 180px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link{
    text-decoration: none;
    color: white;
}
.left{
    margin-right: 10px;
    background: #066F6F;
    color: white;
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}
.right{
    background: #F5F5F9;
    color: black;
    padding: 20px;
    border-radius: 20px;
    width: 800px;
}
h1{
    text-align: center;
}
.cert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first, .second, .third, .fourth{
    width: 200px;
}
.list{
    list-style-type: none;
}